.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0 auto;
  margin-top: 5vw;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 50vw;
  height: 45vw;
}

td {
  border: 2px solid white;
  border-radius: 7px;
  color: white;
}

.cell {
  font-size: 1.15vw;
  margin: 0;
  padding: 0;
  width: 2vw;
  height: 2vw;
}

.cell1 {
  background-color: #DF9A4A;
}

.cell2 {
  background-color: #0936c8;
}

.cell3 {
  background-color: #8a0ddd;
}

.cell:hover {
  cursor: pointer;
}

.clicked {
  border: 2px solid rgb(0, 36, 59) !important;
}

.clicked1 {
  transition: 500ms all;
  background-color: #9F5709;
}

.clicked2 {
  transition: 500ms all;
  background-color: #062794;
}

.clicked3 {
  transition: 500ms all;
  background-color: #57078d;
}

p {
  margin-left: 31%;
}

.modal {
  position: absolute;
  top: 12vw;
  left: 39vw;
  background: #efd5b3;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #f5b561;
  padding: 10px;
}

.modalButton {
  background: white;
  border: 2px solid #f5b561;
  width: 65%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 23px;
}

.modalBlock {
  display: block;
}

.modalNone {
  display: none;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
}

.bomb.clicked {
  color: rgb(255, 17, 17) !important;
  -webkit-text-stroke: 0.2px black;
  font-size: 30px;
  padding: 0px;
}

.options {
  position: relative;
  top: 5.5vw;
}

.fullscreen {
  width: 3vw;
}

.fullscreen-text {
  position: absolute;
  top: -0.3vw;
  transition: 1s all;
  width: 300px;
  font-size: 1.2vw;
}

.fullscreen-text-show {
  opacity: 1;
  right: 2vw;
}

.fullscreen-text-hide {
  opacity: 0;
  right: 10vw;
}

.playbutton {
  width: 1.9vw;
}

.playbutton-text {
  position: absolute;
  top: 2.2vw;
  transition: 1s all;
  width: 200px;
  font-size: 1.2vw;
}

.playbutton-text-hide {
  opacity: 0;
  right: 10vw;
}

.playbutton-text-show {
  opacity: 1;
  right: 4vw;
}

.menu {
  width: 2vw;
  position: relative;
  top: 0.5vw;
}

.menu-text {
  font-size: 1.2vw;
  position: absolute;
  top: 4.8vw;
  transition: 1s all;
}

.menu-text-show {
  opacity: 1;
  right: 6vw;
}

.menu-text-hide {
  opacity: 0;
  right: 12vw;
}

.menuWindow {
  position: absolute;
  width: 14vw;
  height: 48vw;
  right: 3vw;
  top: 17vw;
  border: 4px solid #9F5709;
  border-radius: 30px;
}

.menuWindow-open {
  display: block;
}

.menuWindow-hidden {
  display: none;
}

.statistics {
  padding: 5.5vw 0 1vw 0;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-between;
  writing-mode: tb;
}

.leaderboard {
  width: 2.5vw;
  position: relative;
  top: 1vw;
}

.leaderboard-text {
  position: absolute;
  top: 8vw;
  transition: 1s all;
  font-size: 1.2vw;
}

.leaderboard-text-show {
  opacity: 1;
  right: 6vw;
}

.leaderboard-text-hide {
  opacity: 0;
  right: 12vw;
}


.leaderWindow {
  position: absolute;
  top: 3vw;
  width: 30vw;
  height: 39vw;
  border: 4px solid #9F5709;
  left: 12vw;
  border-radius: 30px;
  background: white;
  padding-top: 20px;
}

.leaderWindow-open {
  display: block;
}

.leaderWindow-hidden {
  display: none;
}

@media (min-width: 769px) and (max-width: 1268px) {
  table {
    width: 65vw;
    height: 65vw;
  }

  .cell {
    width: 2vw;
    height: 3vw;
    font-size: 2vw;
  }

  .bomb.clicked {
    font-size: 25px;
  }

  .fullscreen-text {
    width: 150px;
    top: 0.4vw;
    font-size: 1.5vw;
  }

  .fullscreen {
    width: 6vw;
  }

  .fullscreen-text-show {
    opacity: 1;
    right: 5vw;
  }

  .playbutton {
    width: 3.9vw;
  }
  
  .playbutton-text {
    top: 5.8vw;
    width: 200px;
    font-size: 1.5vw;
  }

  .playbutton-text-show {
    right: 5vw;
  }
}

@media (min-width: 490px) and (max-width: 768px) {
  table {
    width: 82vw;
    height: 77vw;
  }

  .cell {
    width: 2vw;
    height: 3vw;
    font-size: 10px;
  }

  .modal {
    top: 25vw;
    left: 29vw;
    width: 37vw;
    height: 38vw;
  }

  td {
    border: 1px solid white;
  }

  .clicked {
    border: 1px solid rgb(0, 36, 59) !important;
  }

  .bomb.clicked {
    font-size: 10px;
  }

  .fullscreen-text {
    width: 30px;
    top: 0.1vw;
    font-size: 1.5vw;
  }

  .fullscreen {
    width: 6vw;
  }

  .fullscreen-text-show {
    opacity: 1;
    right: 7vw;
  }

  .playbutton {
    width: 3.9vw;
  }
  
  .playbutton-text {
    top: 5vw;
    width: 40px;
    font-size: 1.5vw;
  }
  
  .playbutton-text-hide {
    right: 10vw;
  }
  
  .playbutton-text-show {
    right: 5vw;
  }
}
